*{
  margin: 0;
  padding: 0;
}

:root{
  --nav-bg-color: #FFD502; 
--main-head-foot-color: #E4E5EB; 
--dream-bg-color: #00A3DA;
--footer-bg-color: #201D48;
--font-family-primary: 'Cera Pro', sans-serif;
--font-size-base: 1rem;
--font-size-title-1: 2rem;
--font-size-title-2: 1.25rem;
--font-size-title-3: 1.125rem;
--font-size-small: 0.875rem;
--font-size-smaller:0.75rem;
--font-weight-normal: 400;
--font-weight-heavy: 500;
--navbar-top-bgcolor: #f8f8f8;
--navbar-bottom-bgcolor: #FFD502;
--week-top-picks-bgcolor: #E4E5EB;
--dreamz-bgcolor: #4AA0D6;
--spotlight-bgcolor: #E4E5EB;
--welcometo-bgcolor: #F2F2F2;
--footer-bgcolor: #201D48;
--black-button-text-color: #000000;
--area-giochi-bgcolor: #ABD9FF;
 --area-giochi-bgcolor-hover: #FFFFFF;
 --holiday-color: #D0021B;
 --promo-bgcolor: #FFFFFF;
 --promo-bgcolor-hover: #000000;
 --buy-now-bgcolor: #005AD2;
 --add-cart-bgcolor: #E96F14;
 --add-cart-bgcolor-hover: #FFFFFF;
 --dreamz-bgcolor: #00A3DA;
 --dreamz-bgcolor-hover: #021C47;
 --see-all-bgcolor: #00A3DA;
 --see-all-bgcolor-hover: #5b5c5e;
 --explore-bgcolor: #00000099;
 --explore-bgcolor-hover: #000000AB;
 --see-all-articles-bgcolor: #e4e5ec;
 --see-all-articles-bgcolor-hover: #000000AB;
 --button-border-radius-light: 3px;
 --button-border-radius-heavy: 4px;
 --button-padding-small: 5px 20px;
 --button-padding-mid: 10px 18px;
 --button-padding-big: 15px;
 --button-padding-allArticles: 8px 16px;

 
}


main {
  display: flex;
}
.bottoni {
  font-family: var(--font-family-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 30%;
  padding: 50px;
  
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-bottom-bgcolor);
}

.navbar-top{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-top-bgcolor);
}

.navbar-bottom{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-top-bgcolor);
  background-color: var(--navbar-bottom-bgcolor);
}

.navbar-bottom ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  list-style: none;
}

.week-top-picks{
  background-color: var(--week-top-picks-bgcolor);
}

.dreamz{
  background-color: var(--dream-bg-color);
}

.spotlight{
  background-color: var(--spotlight-bgcolor);
}

.welcometo{
  background-color: var(--welcometo-bgcolor);
}

.footer{
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-bg-color);
}

.zero{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  border: none;
  cursor: pointer;
  background-color: var(--area-giochi-bgcolor);
  color: var(--black-button-text-color);
  padding: 0px 10px;
  font-size: var(--font-size-smaller);
  font-weight: 500;
  line-height: 1.5625rem;
  width: auto;
  letter-spacing: normal;
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
}
  
.zero:hover{
  background-color:var(--area-giochi-bgcolor-hover);
}
.zero svg{
  width: 18px;
  height: 13px;
  margin-right: 10px;
  transform: scaleX(-1);
}


.primo{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: none;
  cursor: pointer;
  background-color: var(--promo-bgcolor);
  color: var(--holiday-color);
  padding: var(--button-padding-small);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.5rem;
}   
.primo:hover {
  background-color: var(--promo-bgcolor-hover);
  color: #FFFFFF;
}
.secondo{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 1px solid;
  cursor: pointer;
  background-color: var(--promo-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-mid);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5625rem;
  letter-spacing: normal;
}   
.secondo:hover{
  background-color: var(--promo-bgcolor-hover);
  color: #FFFFFF;
}
.secondo svg{
  height: 16px;
  width: 16px;
  margin-left: 12px;
}
.terzo{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 1px solid;
  cursor: pointer;
  background-color: var(--promo-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-mid);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5625rem;
  border-collapse: collapse;
  box-sizing: border-box;
  letter-spacing: normal;
}   
.terzo:hover{
  background-color: var(--promo-bgcolor-hover);
  color: #FFFFFF;
}
.terzo svg{
  height: 16px;
  width: 16px;
  margin-left: 12px;
}
.quarto{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 2px solid #E96F14;
  cursor: pointer;
  background-color: var(--add-cart-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-big);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5625rem;
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
}   
.quarto:hover{
  background-color: var(--add-cart-bgcolor-hover);
  
}

.quinto{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 2px solid #00A3DA;
  cursor: pointer;
  background-color: var(--dream-bg-color);
  color: var(--black-button-text-color);
  padding: var(--button-padding-big);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5625rem;
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
}   
.quinto:hover{
  background-color: var(--dreamz-bgcolor-hover);
  color: var(--add-cart-bgcolor-hover);
  border: 2px solid var(--dreamz-bgcolor-hover);
}
.sesto{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 1px solid #005AD2;
  cursor: pointer;
  background-color: var(--buy-now-bgcolor);
  color: var(--add-cart-bgcolor-hover);
  padding: var(--button-padding-big);
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: 1.1875rem;
  border-collapse: collapse;
  width: auto;
}   
.sesto:hover{
  background-color: var(--area-giochi-bgcolor-hover);
  color: var(--promo-bgcolor-hover);
}

.settimo{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 1px solid;
  cursor: pointer;
  background-color: var(--promo-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-mid);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5625rem;
  letter-spacing: normal;
}   
.settimo:hover{
  background-color: var(--promo-bgcolor-hover);
  color: #FFFFFF;
}
.settimo svg{
  height: 16px;
  width: 16px;
  margin-left: 12px;
}

.ottavo{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 1px solid;
  cursor: pointer;
  background-color: var(--promo-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-mid);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5625rem;
  letter-spacing: normal;
}   
.ottavo:hover{
  background-color: var(--promo-bgcolor-hover);
  color: #FFFFFF;
}
.ottavo svg{
  height: 16px;
  width: 16px;
  margin-left: 12px;
}

.nono{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 1px solid;
  cursor: pointer;
  background-color: var(--promo-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-mid);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5625rem;
  letter-spacing: normal;
}   
.nono:hover{
  background-color: var(--promo-bgcolor-hover);
  color: #FFFFFF;
}
.nono svg{
  height: 16px;
  width: 16px;
  margin-left: 12px;
}

.decimo{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 62.4375rem;
  border: 2px solid;
  cursor: pointer;
  background-color: var(--explore-bgcolor);
  color: #FFFFFF;
  padding: var(--button-padding-allArticles);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5rem;
  width: max-content;
  letter-spacing: 0px;
  box-sizing: border-box;
}   
.decimo:hover{
  background-color:var(--explore-bgcolor-hover);
  color: #FFFFFF;
  text-decoration: underline;
}
.decimo svg{
  width: 18px;
  height: 13px;
  margin-left: 12px;
}
.undicesimo{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 62.4375rem;
  border: 2px solid var(--see-all-bgcolor-hover);
  cursor: pointer;
  background-color:var(--see-all-articles-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-allArticles);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5rem;
  width: max-content;
  letter-spacing: 0px;
  box-sizing: border-box;
}   
.undicesimo:hover{
  background-color: var(--see-all-articles-bgcolor-hover);
  color: #FFFFFF;
  text-decoration: underline;
}
.undicesimo svg{
  width: 18px;
  height: 13px;
  margin-left: 12px;
}

.main-font {
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}
.main-font-declaration{
  display: flex;
  gap: 10px;
  background-color: #e4e5ec;
  padding: 0 20px;
  border-radius: 8px;
}
.font-styling{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #c0c0c0;
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: var(--font-family-primary);

}
.h2{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e5ec;
  padding: 5px;
  border-radius: 8px;
}
.h3{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e5ec;
  padding: 5px;
  border-radius: 8px;
}
.h2-variation{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e5ec;
  padding: 5px;
  border-radius: 8px;
}
.h3-variation{
  display: flex;
  gap: 15px;
  align-items: center;  
  justify-content: space-between;
  background-color: #e4e5ec;
  padding: 5px;
  border-radius: 8px;
}
.main-span{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e5ec;
  padding: 5px;
  border-radius: 8px;
}
.main-span p:nth-child(1){
  text-transform: uppercase;
  font-weight: bolder;
}
.paragrafi{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e5ec;
  padding: 5px;
  border-radius: 8px;
}

.paragrafi p:nth-child(1){
  text-transform: uppercase;
  font-weight: bolder;
}

/* card example Lego dreamZZ */
.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family-primary);
  
}
.conteiner{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--promo-bgcolor);
  width: 100%;
  max-width: 320px;
  height: 100%;
}
.conteiner-img{
  position: relative;
  background-color: var(--promo-bgcolor);
}
.conteiner-img a:nth-of-type(2){
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.conteiner-img img:nth-of-type(2) {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.conteiner-img:hover img {
  transform: scale(1.05);
}
.wishlist-conteiner{
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0.9375rem;
  padding: 0 0.3125rem;
  width: 100%;
  
}
.wishlist-conteiner a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  max-width: 90%;
}

.wishlist-conteiner img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.wishlist-conteiner img:hover {
  transform: scale(1.1);
}
.badge-conteiner {
  position: relative;
  bottom: 16px;
  left: 16px;
  color: #333;
  padding: 10px 0 0 0;
  font-size: 0.8rem;
}
.badge-conteiner span{
  background-color: var(--nav-bg-color);
  padding: 4px 8px;
}

.conteiner-bottom{
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1.25rem 1.25rem;
  background-color: var(--dreamz-bgcolor-hover);
  text-align: start;
}
.conteiner-bottom a {
  flex: 1 1 auto;
  color: var(--promo-bgcolor);
  cursor: pointer;
  text-decoration: none;
}
.conteiner-bottom a:hover {
  text-decoration: underline;
}
.conteiner-bottom a h3{
  padding: 5px 0px;
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5625rem;
  font-weight: 500; 
}

.price-conteiner{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  color: var(--promo-bgcolor);
  width: 100%;
  min-height: 1.5625rem;
}
.price-conteiner span {
  font-size: 1rem;
  margin: 2px 0;
  font-weight: bold;
}

/* end card example Lego Dreamzz */
/* card example set in evidenza */
.card-esempio{
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family-primary);
}
.immagine-card{
  text-align: center
}
.immagine-card img{
  display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    object-fit: cover;
    width: auto;
    height: auto;
}
  

.immagine-card img:hover{
  transform: scale(1.05);
}

.descrizione{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.75rem 1.25rem 1.25rem;
  background-color: rgb(228, 229, 236);
}
.descrizione h3{
  color: rgb(0, 0, 0);
    font-size: 1rem;
    line-height: 1.5625rem;
    text-transform: inherit;
    font-family: var(--font-family-primary);
    font-weight: bold;
}
.stellette{
  display: flex;
    align-items: center;
    height: 15px;
    width: 15px;
}
.prezzo{
  font-size: clamp(1.125rem,.163265vw + 1.08673rem,1.25rem);
    font-family: var(--font-family-primary);
    letter-spacing: 0;
    font-weight: 700;
    line-height: 1.5;
}

.button-quarto{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 2px solid #E96F14;
  cursor: pointer;
  background-color: var(--add-cart-bgcolor);
  color: #000000;
  padding: var(--button-padding-big);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5625rem;
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--font-family-primary);
}
.button-quarto:hover{
  background-color: var(--add-cart-bgcolor-hover);

}
.badge-conteiner {
  position: relative;
  bottom: 16px;
  left: 16px;
  color: #333;
  padding: 10px 0 0 0;
  font-size: 0.8rem;
  display: flex;
}
.badge-conteiner span{
  background-color: var(--nav-bg-color);
  padding: 4px 8px;
}
.cuore{
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.cuore:hover{
    transform: scale(1.1);

}
/* end card example set in evidenza*/