* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* scrollbar settings */
.product-container::-webkit-scrollbar {
    height: 6px; 
  }
  
  .product-container::-webkit-scrollbar-thumb {
    background-color: gray; 
  }
  
  .product-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /
  }
  
  .product-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    
  }
  /* end scrollbar settings */
  /* freccia sinistra */
.move-btn{
    border: none;
    background-color: var(--spotlight-bgcolor);
    margin-left: 1px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 50%;
    border-collapse: collapse;
    font-weight: var(--font-weight-normal);
    font-size: 0.875rem;
    line-height: 1.1875rem;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
    transform: rotate(180deg)
  ;}
  
  .left{
   position: absolute;
   top: 50%;
      width: 3%; 
      
  }
  /* end freccia sinistra */
  /* freccia destra */
  .move-btnright{
   border: none;
   background-color: var(--spotlight-bgcolor);
    margin-left: 1px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 50%;
    border-collapse: collapse;
    font-weight: var(--font-weight-normal);
    font-size: 0.875rem;
    line-height: 1.1875rem;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
  }
  
  .right{
    position: absolute;
      right: -0px; 
      top: 50%;
      width: 3%;
      margin-right: 1px;
      
    
  }
  /* end freccia destra */
  
.slider-wrapper{
    position: relative;
    max-width: 200rem;
    margin: 0 auto;
    overflow-x: auto;
}

.product-container {
    gap: 20px;
    display: flex;
    aspect-ratio: 16/6;   
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
}
.product-container  img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}


.dimensione {
    display: flex;
    justify-content: flex-start;
    gap: 2px;
    margin-bottom: 5px;
    width: 15px;
}
.product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: relative;
}

h2 {
    margin-bottom: 20px;
    justify-content:flex-start;
}
.product p {
    margin: 5px 0;
}
.exclusive {
    color: #000000;
    background-color: #ffee00;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 3px;
    position: relative;
    top: 10px;
    left: 40px;
}
button {
    background-color: #FF7F00;
    border-color: #FF7F00;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}
button:hover {
    background-color: #FF4500;
    cursor: pointer;
    background-color: #ffffff;
}
.riempimento{
    color: #ffffff;
}
.sotto-immagine{
    padding-top: 10px;
}
.prova{
    padding: 1.875rem 2.50rem;
    max-width: 100rem;
    margin: auto;
}


