*{
    margin: 0;
    padding: 0;
}
  
:root{
  --nav-bg-color: #FFD502; 
  --main-head-foot-color: #E4E5EB; 
  --dream-bg-color: #00A3DA;
  --footer-bg-color: #201D48;
  --font-family-primary: 'Cera Pro', sans-serif;
  --font-size-base: 1rem;
  --font-size-title-1: 2rem;
  --font-size-title-2: 1.25rem;
  --font-size-title-3: 1.125rem;
  --font-size-small: 0.875rem;
  --font-size-smaller:0.75rem;
  --font-weight-normal: 400;
  --font-weight-heavy: 500;
  --navbar-top-bgcolor: #f8f8f8;
  --navbar-bottom-bgcolor: #FFD502;
  --week-top-picks-bgcolor: #E4E5EB;
  --dreamz-bgcolor: #4AA0D6;
  --spotlight-bgcolor: #E4E5EB;
  --welcometo-bgcolor: #F2F2F2;
  --footer-bgcolor: #201D48;
  --black-button-text-color: #000000;
  --area-giochi-bgcolor: #ABD9FF;
  --area-giochi-bgcolor-hover: #FFFFFF;
  --holiday-color: #D0021B;
  --promo-bgcolor: #FFFFFF;
  --promo-bgcolor-hover: #000000;
  --buy-now-bgcolor: #005AD2;
  --add-cart-bgcolor: #E96F14;
  --add-cart-bgcolor-hover: #FFFFFF;
  --dreamz-bgcolor: #00A3DA;
  --dreamz-bgcolor-hover: #021C47;
  --see-all-bgcolor: #00A3DA;
  --see-all-bgcolor-hover: #5b5c5e;
  --explore-bgcolor: #00000099;
  --explore-bgcolor-hover: #000000AB;
  --see-all-articles-bgcolor: #e4e5ec;
  --see-all-articles-bgcolor-hover: #000000AB;
  --button-border-radius-light: 3px;
  --button-border-radius-heavy: 4px;
  --button-padding-small: 5px 20px;
  --button-padding-mid: 10px 18px;
  --button-padding-big: 15px;
  --button-padding-allArticles: 8px 16px;
}
button{
  color: inherit;
  font: inherit;
  box-shadow: none;
  background: 0 0;
  border: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  display: block;
  color: #FFFFFF;
  max-width: 200px;
  padding: 0.625rem 0.9375rem;
  font-size: 1rem;
  line-height: 1.5625rem;
}
.main-contenitore{
  background-color: #201D48;
  
}
.second-contenitore-sopra{
  display: flex;
  padding: 40px 20px 20px 20px;
  max-width: 82.5rem;
  margin: 0px auto;
}
.img-contenitore{
  max-width: 97px;
  margin-bottom: 20px;
}
.img-contenitore img{
  width: 100%;
}
.svg-contenitore{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.svg-mappa{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: #18152D;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  margin-bottom: 1.5625rem;
  color: #FFFFFF;
}
.primo-contenitore{
  flex: 1 1 0%;
  max-width: 260px;
}
.primo-contenitore-sotto a{
  padding: 10px 0;
}
.secondo-contenitore{
  flex: 1 1 0%;
  max-width: 245px;
}
.footer-h3{
  margin-bottom: 25px;
  padding: 0 15px;
  color: #FFFFFF;
}
.contenitore-flex{
  display: flex;
  flex-wrap: wrap;
  flex: 4 1 0%;
}
.contenitore-flex div{
  flex: 1 1 0%;
  padding-left: 0.625rem;
  margin-right: 1.25rem;
}
.second-contenitore-centro{
  background: rgb(32, 29, 72);
  color: rgb(255, 255, 255);
  padding: 2.5rem 1.25rem 1.25rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px auto;
  max-width: 82.5rem;
}
.follow{
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.marketing{
  display: flex;
  flex-direction: column;
}
.marketing h3{
  padding-bottom: 20px;
}
.follow-img{
  display: flex;
  height: 3.375rem;
  align-items: center;
  max-width: 100px;
}
.follow-img a{
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  padding: 10px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.follow-img a svg{
  width: 100%;
}
.input{
  max-width: 260px;
}
.input input{
  flex-grow: 1;
  width: 100%;
  background: rgb(255, 255, 255);
  color: rgb(20, 20, 20);
  height: 25px;
  padding: 11px 10px;
  border: 1px solid rgb(224, 224, 224);
}
.input button{
  white-space: nowrap;
  transform: translateX(-1px);
  margin-right: -1px;
  border-radius: 0px 0.3125rem 0.3125rem 0px;
  box-shadow: none;
  width: 30%;
  max-height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #E96F14;
}
.input button svg{
  width: 16px;
  height: 16px;
  color: #000000;
}
.input{
  display: flex;
}
.second-contenitore-sotto{
  display: flex;
  flex-direction: column;
  max-width: 82.5rem;
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
}
.second-contenitore-sotto ul {
  display: flex;
}
.second-contenitore-sotto ul li{
  display: inline-block;
  margin-right: 1.875rem;
  margin-bottom: 1.25rem;
}
.second-contenitore-sotto p{
  font-size: 0.75rem;
  line-height: 1.1875rem;
  color: #FFFFFF;
  margin-bottom: 1.25rem;
  margin-top: 0px;
}