* {
  max-width: 100rem;
  padding: 0px, auto;
  font-family: var(--font-family-primary);
}

:root {
  --nav-bg-color: #ffd502;
  --main-head-foot-color: #e4e5eb;
  --dream-bg-color: #00a3da;
  --footer-bg-color: #201d48;
  --font-family-primary: "Cera Pro", sans-serif;
  --font-size-base: 1rem;
  --font-size-title-1: 2rem;
  --font-size-title-2: 1.25rem;
  --font-size-title-3: 1.125rem;
  --font-size-small: 0.875rem;
  --font-size-smaller: 0.75rem;
  --font-weight-normal: 400;
  --font-weight-heavy: 500;
  --navbar-top-bgcolor: #f8f8f8;
  --navbar-bottom-bgcolor: #ffd502;
  --week-top-picks-bgcolor: #e4e5eb;
  --dreamz-bgcolor: #4aa0d6;
  --spotlight-bgcolor: #e4e5eb;
  --welcometo-bgcolor: #f2f2f2;
  --footer-bgcolor: #201d48;
  --black-button-text-color: #000000;
  --area-giochi-bgcolor: #abd9ff;
  --area-giochi-bgcolor-hover: #ffffff;
  --holiday-color: #d0021b;
  --promo-bgcolor: #ffffff;
  --promo-bgcolor-hover: #000000;
  --buy-now-bgcolor: #005ad2;
  --add-cart-bgcolor: #e96f14;
  --add-cart-bgcolor-hover: #ffffff;
  --dreamz-bgcolor: #00a3da;
  --dreamz-bgcolor-hover: #021c47;
  --see-all-bgcolor: #00a3da;
  --see-all-bgcolor-hover: #5b5c5e;
  --explore-bgcolor: #00000099;
  --explore-bgcolor-hover: #000000ab;
  --see-all-articles-bgcolor: #e4e5ec;
  --see-all-articles-bgcolor-hover: #000000ab;
  --button-border-radius-light: 3px;
  --button-border-radius-heavy: 4px;
  --button-padding-small: 5px 20px;
  --button-padding-mid: 10px 18px;
  --button-padding-big: 15px;
  --button-padding-allArticles: 8px 16px;
}
/* i preferiti di questa settimana */
.conteiner-preferiti {
background-color: var(--spotlight-bgcolor);
}
.titolo-preferiti {
  box-sizing: border-box;
  color: rgb(44, 44, 44);
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-primary);
  height: 43px;
  line-height: 24px;
  margin-bottom: 20px;
}
.conteiner-content-preferiti {
  box-sizing: border-box;
  color: rgb(44, 44, 44);
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: var(--font-family-primary);
 width: 100%;
 height: 100%;
  
}

.immagine img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card-preferiti {
 flex-direction: column;
 display: flex;

}

.testo-preferiti {
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
  align-items: center;
text-align: center;
font-size: var(--font-size-small);
}

.compra-ora img{
  width: 8px;
}
.compra-ora a{
  text-decoration: none;
  color: black;
}
.compra-ora a:hover{
  text-decoration: underline;
}
/* end preferiti di questa settimana */

/* set in evidenza */
/* scrollbar settings */
.featured-items-container::-webkit-scrollbar {
  height: 6px; 
}

.featured-items-container::-webkit-scrollbar-thumb {
  background-color: gray; 
}

.featured-items-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /
}

.featured-items-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  
}
/* end scrollbar settings */
/* freccia sinistra */
.move-btn{
  border: none;
  background-color: var(--spotlight-bgcolor);
  margin-left: 1px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 50%;
  border-collapse: collapse;
  font-weight: var(--font-weight-normal);
  font-size: 0.875rem;
  line-height: 1.1875rem;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
  transform: rotate(180deg)
;}

.left{
 position: absolute;
 top: 50%;
    width: 3%; 
    
}
/* end freccia sinistra */
/* freccia destra */
.move-btnright{
 border: none;
 background-color: var(--spotlight-bgcolor);
  margin-left: 1px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 50%;
  border-collapse: collapse;
  font-weight: var(--font-weight-normal);
  font-size: 0.875rem;
  line-height: 1.1875rem;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.right{
  position: absolute;
    right: -0px; 
    top: 50%;
    width: 3%;
    margin-right: 1px;
    
  
}
/* end freccia destra */

.featured-slider {
  width: 100%;
  overflow-x: auto;
  position: relative;
  padding: 30px 20px;
  background: var(--spotlight-bgcolor);
  font-family: var(--font-family-primary);
  box-sizing: border-box;
  
}
.featured-items-container{
  width: 100%;
  overflow-x: auto;
  position: relative;
  padding: 30px 20px;
  background: var(--spotlight-bgcolor);
  font-family: var(--font-family-primary);
  box-sizing: border-box;
  
}
.slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}


.slider-header {
  text-align: start;
  margin-bottom: 10px;
}
.slider-header h2 {
  font-size: var(--font-size-title-2);
  font-weight: var(--font-weight-normal);
}
.featured-items-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: transform 0.5s ease;
}
.product-card {
  width: 20%;
  min-width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--area-giochi-bgcolor-hover);
}
.product-image {
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.product-image img {
  display: inline-block;
  vertical-align: middle;
  object-fit: scale-down;
  width: 100%;
  aspect-ratio: 1/1;
}

.product-image img:hover {
  transform: scale(1.05);
}

.product-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.75rem 1.25rem 1.25rem;
  background-color: rgb(228, 229, 236);
}
.product-details h3 {
  color: rgb(0, 0, 0);
  font-size: var(--font-size-title-3);
  line-height: 1.5625rem;
  text-transform: inherit;
  font-family: var(--font-family-primary);
  font-weight: bold;
  min-height: 50px;
}
.rating-stars {
  display: flex;
  align-items: center;
  height: 15px;
  width: 15px;
}
.price {
  font-size: var(--font-size-title-2);
  font-family: var(--font-family-primary);
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.5;
}
.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 2px solid #e96f14;
  cursor: pointer;
  background-color: var(--add-cart-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-big);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5625rem;
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
}
.add-to-cart:hover {
  background-color: var(--add-cart-bgcolor-hover);
}
.badge-conteiner {
  position: relative;
  z-index: 2;
  color: #333;
  padding: 10px;
  font-size: var(--font-size-smaller);
  display: flex;
}
.badge-conteiner span {
  background-color: var(--nav-bg-color);
  padding: 4px 8px;
  cursor: pointer;
}
.wishlist-icon {
  width: 24px;
  height: 24px;
  padding: 20px 20px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  transition: transform 0.3s ease;
}

.wishlist-icon:hover {
  transform: scale(1.1);
}