* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-bg-color: #ffd502;
  --main-head-foot-color: #e4e5eb;
  --dream-bg-color: #00a3da;
  --footer-bg-color: #201d48;
  --font-family-primary: "Cera Pro", sans-serif;
  --font-size-base: 1rem;
  --font-size-title-1: 2rem;
  --font-size-title-2: 1.25rem;
  --font-size-title-3: 1.125rem;
  --font-size-small: 0.875rem;
  --font-size-smaller: 0.75rem;
  --font-weight-normal: 400;
  --font-weight-heavy: 500;
  --navbar-top-bgcolor: #f8f8f8;
  --navbar-bottom-bgcolor: #ffd502;
  --week-top-picks-bgcolor: #e4e5eb;
  --dreamz-bgcolor: #4aa0d6;
  --spotlight-bgcolor: #e4e5eb;
  --welcometo-bgcolor: #f2f2f2;
  --footer-bgcolor: #201d48;
  --black-button-text-color: #000000;
  --area-giochi-bgcolor: #abd9ff;
  --area-giochi-bgcolor-hover: #ffffff;
  --holiday-color: #d0021b;
  --promo-bgcolor: #ffffff;
  --promo-bgcolor-hover: #000000;
  --buy-now-bgcolor: #005ad2;
  --add-cart-bgcolor: #e96f14;
  --add-cart-bgcolor-hover: #ffffff;
  --dreamz-bgcolor: #00a3da;
  --dreamz-bgcolor-hover: #021c47;
  --see-all-bgcolor: #00a3da;
  --see-all-bgcolor-hover: #5b5c5e;
  --explore-bgcolor: #00000099;
  --explore-bgcolor-hover: #000000ab;
  --see-all-articles-bgcolor: #e4e5ec;
  --see-all-articles-bgcolor-hover: #000000ab;
  --button-border-radius-light: 3px;
  --button-border-radius-heavy: 4px;
  --button-padding-small: 5px 20px;
  --button-padding-mid: 10px 18px;
  --button-padding-big: 15px;
  --button-padding-allArticles: 8px 16px;
}

.img-logo {
  height: 55px;
  width: 55px;
}

.btn {
  font-family: var(--font-family-primary);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* gap: 1rem;
  align-items: center;
  width: 30%;
  padding: 50px; */
}

/*.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

}*/

.navbar-top {
  /* position: relative; */
  position: relative;
  display: flex;
  /* -webkit-box-align: stretch; */
  align-items: center;
  /* -webkit-box-pack: justify; */
  justify-content: space-between;
  width: 100%;
  margin: 0px auto;
  padding: 0px 1.875rem;
  background-color: var(--navbar-top-bgcolor);
  height: 3.1875rem;
}

.btn.area-giochi {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  border: none;
  cursor: pointer;
  background-color: var(--area-giochi-bgcolor);
  color: var(--black-button-text-color);
  padding: 0px 10px;
  font-size: var(--font-size-smaller);
  font-weight: 500;
  line-height: 1.5625rem;
  width: auto;
  letter-spacing: normal;
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
  height: auto;
}

.btn.area-giochi:hover {
  background-color: var(--area-giochi-bgcolor-hover);
}

.area-giochi svg {
  width: 18px;
  height: 13px;
  margin-right: 10px;
  transform: scaleX(-1);
}

.aside-carosello {
  position: relative;
  display: flex;
  width: 39%;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 4.375rem;
  font-family: var(--font-family-primary);
  letter-spacing: normal;
}

.item {
  display: none;
  flex-direction: row;
  align-items: center;
}

.item p,
a {
  font-size: 0.75rem;
  line-height: 1.1875rem;
  font-family: var(--font-family-primary);
  margin-right: 10px;
}
.item a {
  text-decoration: none;
  color: rgb(0, 90, 210);
}
.item a:hover {
  text-decoration: underline;
}

input#slide1:checked ~ .content #item1,
input#slide2:checked ~ .content #item2,
input#slide3:checked ~ .content #item3 {
  display: flex;
}

.arrows {
  position: absolute;
  top: 0%;
  transform: translateY(-50%);
  width: 100%;
  pointer-events: none;
  /* Permette ai click di passare solo attraverso gli elementi figli */
}

.arrow {
  pointer-events: auto; /* Rende le frecce cliccabili */
  position: absolute;
  cursor: pointer;
  background: transparent;
  height: 100%;
}

.arrow svg {
  height: 18px;
  width: 18px;
}

.arrow.left svg {
  transform: scaleX(-1);
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

/* Mostra solo le frecce associate allo slide attivo */
input#slide1:checked ~ .arrows:nth-of-type(1),
input#slide2:checked ~ .arrows:nth-of-type(2),
input#slide3:checked ~ .arrows:nth-of-type(3) {
  display: flex;
}

.arrows:nth-of-type(1),
.arrows:nth-of-type(2),
.arrows:nth-of-type(3) {
  display: none;
}

.aside-icons {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-between;
  -webkit-box-pack: end;
}

.divisore {
  margin: 0px 1.25rem;
  width: 0.0625rem;
  height: 1.25rem;
  background: rgb(117, 117, 117);
}

.account,
.iscriviti {
  font-size: 0.75rem;
  line-height: 1.1875rem;
  font-weight: 500;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-family-primary);
  cursor: pointer;
}

.account svg,
.iscriviti img {
  height: 20px;
  width: 20px;
}

.navbar-bottom {
  height: 4.6875rem;
  margin: 0px auto;
  position: relative;
  /* padding: 0px 1.875rem; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 60px; */
  background-color: var(--navbar-bottom-bgcolor);
}

.navbar-bottom-left {
  display: flex;
  /* margin: 0 190px; */
  padding: 0 30px;
  gap: 50px;
  align-items: center;
}

.navbar-bottom-right {
  width: 55%;
  display: flex;
  /* margin-right: 190px; */
  padding-right: 30px;
  justify-content: flex-end;
  align-items: center;
  /* gap: 25px; */
}

.navbar-bottom ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}

.navbar-bottom-right ul {
  gap: 20px;
}

.navbar-bottom-right ul li {
  display: flex;
  align-items: top;
  gap: 5px;
}

.navbar-bottom ul li a {
  margin: 0;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-decoration: none;
}

.navbar-bottom ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.lente {
  position: relative;
  width: 60px;
  height: 85px;
}

.lente img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  object-fit: contain;
}

.navbar-bottom-right ul li:hover {
  text-decoration: underline;
}

.btn.area-giochi {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  border: none;
  cursor: pointer;
  background-color: var(--area-giochi-bgcolor);
  color: var(--black-button-text-color);
  padding: 0px 10px;
  font-size: var(--font-size-smaller);
  font-weight: 500;
  line-height: 1.5625rem;
  width: auto;
  letter-spacing: normal;
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
}

.btn.area-giochi:hover {
  background-color: var(--area-giochi-bgcolor-hover);
}

.area-giochi-btn svg {
  width: 18px;
  height: 13px;
  margin-right: 10px;
  transform: scaleX(-1);
}

.btn.holiday {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: none;
  cursor: pointer;
  background-color: var(--promo-bgcolor);
  color: var(--holiday-color);
  padding: var(--button-padding-small);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.5rem;
}

.btn.holiday:hover {
  background-color: var(--promo-bgcolor-hover);
  color: #ffffff;
}

.header-img {
  margin: 0px auto;
  max-width: 100rem;
  position: relative;
  display: flex;
  justify-content: right;
  text-align: right;
}

.banner-img {
  width: 100%;
}

.header-img-right {
  padding-right: 120px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 25px;
}

.header-img-right-text {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header-img-right-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn.compra-socio {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-radius-heavy);
  border: 1px solid;
  cursor: pointer;
  background-color: var(--promo-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-mid);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5625rem;
  letter-spacing: normal;
}

.btn.compra-socio:hover {
  background-color: var(--promo-bgcolor-hover);
  color: #ffffff;
}

.btn.compra-socio svg {
  height: 16px;
  width: 16px;
  margin-left: 12px;
}

.icons-link {
  margin: 0px auto;
  max-width: 100rem;
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  flex-wrap: nowrap;
  /* gap: 30px;  */
  gap: 0 1.25rem;
  padding: 1.25rem 1.5rem;
  background-color: var(--week-top-picks-bgcolor);
}

.icons {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  text-decoration: none;
}

.icons a {
  text-decoration: none;
}

.icons a:hover {
  text-decoration: underline;
}

.icons a:visited {
  color: inherit;
}

.icons img {
  width: 120px;
  max-width: 100%;
  height: 100%;
  max-height: 97px;
  object-fit: cover;
}

.icons p {
  letter-spacing: 0.01em;
  font-size: 0.75rem;
  line-height: 1.62;
  font-weight: 500;
  font-family: var(--font-family-primary);
  text-align: center;
}

/*Input text cerca*/

.input-contenitore-cerca {
  font-family: var(--font-family-primary);
  line-height: 24px;
  width: 330px;
  height: 40px;
  background-color: var(--add-cart-bgcolor-hover);
  border-radius: 62.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  z-index: 999;
}

.icona-cerca {
  margin-left: 8px;
  border: none;
  outline: none;
  width: 100%;
  background: transparent;

  text-decoration: none;
  box-shadow: none;
}

.icona-cerca:focus {
  outline: none;
}

.icona-lente {
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-weight: 400;
}

.icona-x {
  width: 13px;
  height: 13px;
  font-size: 16px;
  font-weight: 400;
  font-stretch: 100%;
}

.icona-x:hover {
  cursor: pointer;
}

.icona-lente:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  display: none;
  z-index: 998;
}

.no-scroll {
  overflow: hidden;
}

/*prove per dissolvenza*/

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, transform 0.5s ease;
}

.navbar.fixed {
  z-index: 1000;
  opacity: 1;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.navbar.hidden {
  pointer-events: none;
  transform: translateY(-100%);
}

/*Fine prove dissolvenza*/

.section-in-evidenza {
  background-color: var(--week-top-picks-bgcolor);
  margin: 0 auto;
  max-width: 100rem;
}

.section-in-evidenza img:first-of-type {
  width: 100%;
  height: 100%;
}

.section-in-evidenza h2 {
  margin: 0 140px;
  padding: 40px 20px 20px 20px;
}

.in-evidenza {
  margin: 0 140px;
  padding: 0 20px 40px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

.viola {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.arancione {
  max-height: 340px;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  width: 100%;
  height: 100%;
}

.gialla {
  max-height: 340px;
  grid-column: 2/3;
  grid-row: 2/2;
  display: flex;
  width: 100%;
  height: 100%;
}

.viola-top {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  color: white;
}

.arancione-right {
  padding: 20px 30px;
  background-color: #fb954cf6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: left;
}

.gialla-left {
  padding: 20px 30px;
  background-color: #ffd502;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: left;
}

.box-img-in-evidenza {
  flex: 50%;
  object-fit: contain;
}

.img-in-evidenza {
  width: 100%;
  height: 100%;
}

.btn-in-evidenza a {
  text-decoration: none;
  font-weight: bold;
}

.btn-in-evidenza a:hover {
  text-decoration: underline;
}

.btn-in-evidenza a:visited {
  color: inherit;
  text-decoration: none;
}

.spotlight {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  align-items: center;
}

.spotlight h3 {
  font-family: var(--font-family-primary);
  font-size: 2rem;
  line-height: 2.6875;
  font-weight: 400;
}

.undicesimo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 62.4375rem;
  border: 2px solid var(--see-all-bgcolor-hover);
  cursor: pointer;
  background-color: var(--see-all-articles-bgcolor);
  color: var(--black-button-text-color);
  padding: var(--button-padding-allArticles);
  font-size: var(--font-size-base);
  font-weight: 500;
  line-height: 1.5rem;
  width: max-content;
  letter-spacing: 0px;
  box-sizing: border-box;
}
.undicesimo:hover {
  background-color: var(--see-all-articles-bgcolor-hover);
  color: #ffffff;
  text-decoration: underline;
}
.undicesimo svg {
  width: 18px;
  height: 13px;
  margin-left: 12px;
}

.contenitore-griglia-visualizza-articoli {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 5px;
}

.griglia-visualizza-articoli {
  width: 305px;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}

.img-visualizza-articoli img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin-bottom: 20px;
}

.griglia-visualizza-articoli h2 {
  font-family: var(--font-family-primary);
  font-size: 1.25rem;
  line-height: 1.9375;
  font-weight: 500;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 15px;
}

.griglia-visualizza-articoli p {
  font-family: var(--font-family-primary);
  word-wrap: break-word;
  margin-bottom: 15px;
  font-size: 0.875rem;
  line-height: 1.1875;
  font-weight: 400;
}

.griglia-visualizza-articoli a {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  line-height: 1.5625;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

.griglia-visualizza-articoli a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
